<!DOCTYPE html>
<html lang="en" direction="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Breadboard - Double-Sided PCB Kit</title>
</head>

<body>
    <h1>Breadboard - Double-Sided PCB Kit</h1>
    <p>
        This KiCAD project template provides PCB layouts for a generic &quot;Double-Sided PCB Kit&quot; breadboard set available from various vendors.
    </p>
    <img src="PCB kit box 1.jpg" alt="PCB kit box 1." /><br/>
    <img src="PCB kit box 2.jpg" alt="PCB kit box 2." /><br/>
    <img src="PCB kit boards 3D.jpg" alt="PCB kit boards 3D." />
</body>

</html>